body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  padding-top: 70px;
}

#main-navbar {
  font-size: 25px !important;
}

#vg-img {
  width: 210px;
}

#about {
  background-color: rgb(43, 62, 80);
}

.contact-icon {
  font-size: 50px;
  text-decoration: none !important;
}

.contact-icon:hover {
  color: white;
}